body {
  background: #0d47a1;
  color: white;
}
input {
  color: white;
}
label {
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-field input:focus + label {
  color: white !important;
}

.input-field input:focus {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}

.input-field input + label {
  color: white !important;
}

.checkbox-blue-grey[type="checkbox"].filled-in + span:not(.lever):after {
  border: 2px solid blue !important;
  background-color: blue !important;
}

.medio {
 
  margin-top: 10px;
  border-top: 1px solid white;
  
}
.cont{
  padding: 15px;
}
.derecha {
  margin-top: 10px;
  border-top: 1px solid white;
}
.btn{
  width: 100%;
  margin-top: 15px;
}
.cardVote{
  border: 1px solid white;
  height: 250px;
  margin-left: 10px;
  cursor: pointer;
}
.vote{
  padding: 5px;
  border: 1px solid white;
  border-radius: 100%;
  background: rgba(255,255,255,1);
  color: black;
}
.cardContainer{
  padding: 15px;
}